#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* FONTS */

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  font-weight: 300;
}

/* Buttons Section */
.stopwatch-button-container {
  height: 78px;
  display: flex;
  justify-content: space-between;
  padding: 0 17px 0 17px;
}

.stopwatch-button-container > button {
  height: 65px;
  width: 65px;
  border-radius: 36px;
  border: 4px double black;
}

.stopwatch-button-start {
  background-color: #16472e;
  color: #04de71;
}

.stopwatch-button-stop {
  background-color: #50211f;
  color: #ff3b30;
}

.stopwatch-button-reset {
  background-color: var(--lap-reset-bg-color);
  color: #fff;
}

.stopwatch-button-lap {
  background-color: var(--lap-reset-bg-color);
  color: #fff;
}

/* Buttons Section End */

.stopwatch-screen {
  background-color: #242424;
  width: var(--screen-width);
  height: 705px;
}

.stopwatch-table-container {
  width: 100%;
  height: 294px;
}

.stopwatch-timer-container {
  width: 100%;
  height: 332px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stopwatch-timer-container > h1 {
  font-size: 70px;
  font-variant-numeric: tabular-nums;
}
