#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* FONTS */

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  font-weight: 300;
}

/* Buttons Section */
.stopwatch-button-container {
  height: 78px;
  display: flex;
  justify-content: space-between;
  padding: 0 17px 0 17px;
}

.stopwatch-button-container > button {
  height: 65px;
  width: 65px;
  border-radius: 36px;
  border: 4px double black;
}

.stopwatch-button-start {
  background-color: #16472e;
  color: var(--start-button-text-color);
}

.stopwatch-button-stop {
  background-color: #50211f;
  color: var(--stop-button-text-color);
}

.stopwatch-button-stop:hover,
.stopwatch-button-start:hover,
.stopwatch-button-reset:hover,
.stopwatch-button-lap:hover {
  opacity: 0.6;
}
.stopwatch-button-reset {
  background-color: var(--lap-reset-bg-color);
  color: #fff;
}

.stopwatch-button-lap {
  background-color: var(--lap-reset-bg-color);
  color: #fff;
}

/* Buttons Section End */

.stopwatch-screen {
  background-color: black;
  width: var(--screen-width);
  height: 705px;
}

.stopwatch-timer-container {
  width: 100%;
  height: 332px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stopwatch-timer-container > h1 {
  margin-top: 140px;
  font-size: 65px;
  font-variant-numeric: tabular-nums;
  font-weight: 200;
}

.stopwatch-table-container {
  background-color: black;
  width: 100%;
  height: 294px;
  overflow: auto;
  -ms-overflow-style: none;
  overscroll-behavior: auto;
}

.stopwatch-table-container::-webkit-scrollbar {
  display: none;
}

.stopwatch-table-container > table {
  width: 100%;
  padding: 10px 16px 0 16px;
}

tr {
  display: flex;
  height: 34px;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 0.1px gray;
  font-variant-numeric: tabular-nums;
  color: var(--white);
}

.first-lap {
  border-top: solid 0.1px gray;
}

.fastest-lap {
  color: var(--start-button-text-color);
}

.slowest-lap {
  color: var(--stop-button-text-color);
}
