:root {
  line-height: 24px;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;

  --lap-reset-bg-color: #3a3a3c;
  --screen-width: 331px;
  --start-button-bg-color: #16472e;
  --stop-button-bg-color: #50211f;
  --start-button-text-color: #04de71;
  --stop-button-text-color: #ff3b30;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
